.rooms {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  width: 250px;
  z-index: 1;
  height: 100px;
  background-color: white;
  left: 300px;
  color: black;
  border-radius: 10px;
  cursor: auto;
}

.count-rooms {
  position: relative;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  background-color: inherit;
  border: 1px solid grey;
  cursor: pointer;
}

.count-rooms:focus {
  background-color: #e3e3ff;
  border: 1px solid var(--main-hover);
}
