.create_myself_page {
  position: absolute;
  left: 100px;
  z-index: -1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.create_myself_page_p {
  font-size: 25px;
  font-weight: 700;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.option_create_my_self {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 20px;
  border-radius: 7px;
}
.if_create_myself {
  position: absolute;
  width: 950px;
  height: 500px;
  left: 270px;
  box-shadow: 0px 0px 28px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form_for_myself {
  position: absolute;
  left: 50px;
  top: 20px;
}

.if_radio_sale {
  position: absolute;
  top: 100px;
}

.rooms_radio_sale {
  border-radius: 4px;
  border: 1px solid grey;
  height: 35px;
  width: 150px;
  font-size: 15px;
  /* transition: 0.1s ease-in-out; */
}

.rooms_radio_sale:hover {
  border: 1.4px solid black;
}

.rooms_radio_sale:focus {
  border: 2px solid var(--main-hover);
}

.p_rooms_radio_sale {
  position: absolute;
  top: 42px;
  left: 125px;
  user-select: none;
}

.total_area {
  position: absolute;
  top: 0px;
  left: 210px;
  white-space: nowrap;
}

.area_radio_sale {
  position: absolute;
  border-radius: 4px;
  border: 1px solid grey;
  height: 35px;
  width: 150px;
  font-size: 15px;
  left: 210px;
}

.p_area_radio_sale {
  position: absolute;
  top: 42px;
  left: 336px;
  user-select: none;
}

.area_radio_sale:hover {
  border: 1.4px solid black;
}

.area_radio_sale:focus {
  border: 2px solid var(--main-hover);
}

.living_space {
  position: absolute;
  top: 0px;
  left: 420px;
  white-space: nowrap;
}

.living_space_sale {
  position: absolute;
  border-radius: 4px;
  border: 1px solid grey;
  height: 35px;
  width: 150px;
  font-size: 15px;
  left: 420px;
}

.p_living_radio_sale {
  position: absolute;
  top: 42px;
  left: 545px;
  user-select: none;
}

.living_space_sale:hover {
  border: 1.4px solid black;
}

.living_space_sale:focus {
  border: 2px solid var(--main-hover);
}

.p_kitchen_sale {
  position: absolute;
  top: 0px;
  left: 630px;
}

.kithcen_sale {
  position: absolute;
  border-radius: 4px;
  border: 1px solid grey;
  height: 35px;
  width: 150px;
  font-size: 15px;
  left: 630px;
}

.kithcen_sale:hover {
  border: 1.4px solid black;
}

.kithcen_sale:focus {
  border: 2px solid var(--main-hover);
}

.p_kitchen_radio_sale {
  position: absolute;
  top: 42px;
  left: 755px;
  user-select: none;
}

.label_create_myself {
  user-select: none;
}

.p_batroom_sale {
  position: absolute;
  top: 100px;
  left: 0px;
}

.bathroom_sale {
  position: absolute;
  border-radius: 4px;
  border: 1px solid grey;
  height: 35px;
  width: 150px;
  font-size: 15px;
  top: 150px;
  left: 0px;
}

.p_bathroom_radio_sale {
  position: absolute;
  top: 141px;
  left: 100px;
  user-select: none;
  white-space: nowrap;
}

.bathroom_sale:hover {
  border: 1.4px solid black;
}

.bathroom_sale:focus {
  border: 2px solid var(--main-hover);
}

.p_floor_sale {
  position: absolute;
  top: 100px;
  left: 210px;
}

.floor_sale {
  position: absolute;
  border-radius: 4px;
  border: 1px solid grey;
  height: 35px;
  width: 150px;
  font-size: 15px;
  top: 150px;
  left: 210px;
}

.floor_sale:hover {
  border: 1.4px solid black;
}

.floor_sale:focus {
  border: 2px solid var(--main-hover);
}

.p_floor_radio_sale {
  position: absolute;
  top: 140px;
  left: 336px;
  user-select: none;
}

.p_description_sale {
  position: absolute;
  top: 195px;
}

.description_sale {
  position: absolute;
  resize: none;
  border-radius: 4px;
  border: 1px solid grey;
  height: 100px;
  width: 300px;
  font-size: 15px;
  left: 0px;
  top: 243px;
  outline: none;
}

.description_sale:hover {
  border: 1.4px solid black;
}

.description_sale:focus {
  border: 2px solid var(--main-hover);
}

.submit_sale {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(92, 92, 234);
  height: 45px;
  width: 110px;
  color: white;
  align-items: center;
  transition: 0.2s ease;
  top: 303px;
  left: 700px;
  cursor: pointer;
  user-select: none;
}

.submit_sale:hover {
  background-color: rgb(54, 54, 243);
}

.p_price_sale {
  position: absolute;
  top: 100px;
  left: 420px;
}

.price_sale {
  position: absolute;
  border-radius: 4px;
  border: 1px solid grey;
  height: 35px;
  width: 150px;
  font-size: 15px;
  top: 150px;
  left: 420px;
}

.p_price_radio_sale {
  position: absolute;
  top: 140px;
  left: 540px;
  user-select: none;
  user-select: none;
}

.price_sale:hover {
  border: 1.4px solid black;
}

.price_sale:focus {
  border: 2px solid var(--main-hover);
}

.p_photo_sale {
  position: absolute;
  top: 275px;
  left: 400px;
  white-space: nowrap;
}

.photo_sale {
  position: absolute;
  top: 327px;
  left: 400px;
}
