.allListDis {
  position: absolute;
  left: 70px;
  display: flex;
}

.listOfDis {
  background-color: inherit;
  position: relative;
  margin-right: 10px;
  width: 300px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 3px 5px 1px rgb(207, 207, 207);
  }
}

.fresh_img {
  position: absolute;
  width: 50px;
  left: 230px;
  top: 10px;
  border-radius: 7px;
  user-select: none;
}

.ipoteka_persent {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 14px;
  font-weight: 900;
}

.ipoteka {
  position: absolute;
  top: 100px;
  font-size: 14px;
  left: 223px;
  color: grey;
}

.do_ipoteka {
  position: absolute;
  color: grey;
  top: 55px;
  left: 20px;
  font-size: 14px;
}

.pik_img {
  position: absolute;
  width: 70px;
  left: 220px;
}

.name_company {
  position: absolute;
  font-size: 14px;
  color: grey;
  left: 20px;
  top: 5px;
}

.a101_img {
  position: absolute;
  width: 65px;
  left: 220px;
  top: 5px;
}

.lsr_img {
  position: absolute;
  width: 80px;
  left: 200px;
  top: 20px;
}
