.more-links {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: white;

  top: 346px;
}
.bottom-links-list {
  color: grey;
  margin-right: 35px;
  transition: 0.2s ease;
}

.bottom-links-list:hover {
  color: var(--main-hover);
}
